.navbar {
    background-color: royalblue;
}


h1, h2 {
    font-family: "Sigmar", cursive;
    
}


.jumbotron{
    
    background-image:url('imgs/banner.png');
    height:300px;
    background-repeat: auto ;
}
    